<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SiteName %> - Leaderboard - <%= serverCore.name %></title>  <!-- 
    This is a product created by: Wezacon.com
    And used by: <%= SiteName %>. 
   -->
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="stylesheet" href="/css/pageContent.css">
  <link rel="stylesheet" href="/css/comps.css">
  <link rel="stylesheet" href="/css/list.css">
  <link rel="shortcut icon" href="<%= icon %>" type="image/x-icon">
  <meta name="theme-color" content="var(--bg-1)">
  <meta name="description" content="<%= SiteName %> - Leaderboard - <%= serverCore.name %>">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%= SiteName %> - Leaderboard - <%= serverCore.name %>">
  <meta name="twitter:description" content="<%= serverCore.name %>">
  <meta name="twitter:image" content="<%= serverCore.iconURL() %>">
  <meta property="og:title" content="<%= SiteName %> - Leaderboard - <%= serverCore.name %>">
  <meta property="og:description" content="<%= serverCore.name %>">
  <meta property="og:image" content="<%= serverCore.iconURL() %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .title img.status {
    opacity: 1;
    -webkit-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -moz-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -o-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    }
  </style>
</head>
<body>
 <div class="header">
  <div class="inner-header">
    <div class="title">
      <br>
      <br>
      <div class="userIcon">
            <img class="icon" src="<%= serverCore.iconURL() %>">
      </div>

    <h1 style="font-size: 30px !important;">
        <%= serverCore.name %>
    </h1>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="pageContent">
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverapp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves top" style="transform: rotate(180deg);"><defs _ngcontent-serverapp-c56=""><path _ngcontent-serverapp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverapp-c56="" class="parallax"><use _ngcontent-serverapp-c56="" id="wave1t" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverapp-c56="" id="wave2t" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverapp-c56="" id="wave3t" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverapp-c56="" id="wave4t" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
    <br>
    <div class="heading">
      <br>Leaderboard 
      <!-- <div style="width: 38.5321%;">
        <div class="smile blue"></div>
      </div> -->
    </div>
    <div class="content" style="justify-content: center;">
        <div class="cards">
            <% Udata.forEach(user => { %>
                  <div class="card">
                      <div>
                      <img src="<%= user.userImage %>" style="position: relative;" alt="">                    
                      </div>
                      <br>
                      <br>
                  <h3>
                      <%= user.userTag %> 
                  </h3>
                  <h4>Level: <%= user.level %> &nbsp;  XP: <%= user.xp %></h4>
                      <a class='btn_main dbtn' href="../user/<%= user.id %>">
                          View Profile
                        </a>
                  </div>
                  
                  
            <% }); %>
              </div>
        <div class="Buttons">
            <div class="container" style="padding-bottom: 0px !important;">
                <a class='btn_main dbtn' href="/">
                    Home
                  </a>
                <a class='btn_main dbtn' href="/users">
                    Users
                  </a>
            </div>
            <a href="/api/git"><i class="fa fa-github-square"></i></a>
        </div>
    </div>
    <waves _ngcontent-serverapp-c78="" _nghost-serverapp-c56=""><svg _ngcontent-serverApp-c56="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="waves bottom" style="transform: rotate(180deg);"><defs _ngcontent-serverApp-c56=""><path _ngcontent-serverApp-c56="" id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g _ngcontent-serverApp-c56="" class="parallax"><use _ngcontent-serverApp-c56="" id="wave1b" xlink:href="#gentle-wave" x="48" y="0"></use><use _ngcontent-serverApp-c56="" id="wave2b" xlink:href="#gentle-wave" x="48" y="3"></use><use _ngcontent-serverApp-c56="" id="wave3b" xlink:href="#gentle-wave" x="48" y="5"></use><use _ngcontent-serverApp-c56="" id="wave4b" xlink:href="#gentle-wave" x="48" y="7"></use></g></svg></waves>
</div>


<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
    <div class="footer_center">
      <a href="/wzc/team">
        <h3>© Wezacon.com</h3>
      </a>
    </div>
    </div>
</div>
</div>
</body>
</html>
    <!--© Wezacon.com -->
    <script>
      console.warn('© Wezacon.com');
    </script>